$headerColor: #05ff01;
$headerFont: #015900;

.sass_header {
  background: $headerColor;
  padding: 1% 0;
  margin-bottom: 4%;
  div,
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div:nth-of-type(1) {
    width: 70vw;
  }
  div:nth-of-type(2) {
    width: 30vw;
  }
  section:nth-of-type(2) {
    width: 70vw;
    margin: 0 15vw;
    justify-content: space-evenly;
    font-size: 0.8em;
  }
  button {
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    color: $headerFont;
  }
  a {
    text-decoration: none;
    color: $headerFont;
  }
  h2 {
    font-family: 'Times New Roman', Times, serif;
    background: $headerFont;
    color: $headerColor;
    padding: 0 4px;
  }
}

.sass_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  article {
    width: 40vw;
    display: flex;
    flex-direction: column;
    p {
      text-align: left;
    }
  }
}

.sass_prof {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: 0;
  img {
    height: 60px;
    border-radius: 50%;
    margin-right: 2%;
  }
  button {
    color: $headerFont;
    border-color: $headerFont;
    border-radius: 5px;
    margin: 0 5%;
    cursor: pointer;
  }
  div {
    display: flex;
    align-items: center;
  }
  p {
    font-size: 0.7em;
    margin: 0;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.header div > span p {

}
